* {
    margin: 0;
    padding: 0;
}

:root {
    --color-red: #C52B42;
    --color-blue: #305483;
    --color-orange: #E7A127;
    --color-brown: #FBCB79;
    --color-cream: #FFECCC;
    --color-pink: #EB7D7D;
    --color-cyan: #F7FBFF;
    --color-gray: #C0C4C9;
    --color-ultra-blue: #3B4CE2;
    --color-dark-gray: #333333;

    --font-raleway: Raleway;
    --font-oswald: Oswald;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #FFF;
}

::-webkit-scrollbar-thumb {
    background: #59CDFC;
    border-radius: 3.5px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.nav{
    background: #F6FAFF;
}

.nav__info {
    padding: 35px 180px 20px 180px;
    display: flex;
    justify-content: space-between;
}

.slogan {
    color: var(--color-red);
    font-size: 17px;
    font-family: raleway,sans-serif;
    font-weight: 400;
    line-height: 1.5em;
}

.logo {
    color: var(--color-red);
    font-size: 28px;
    font-family: raleway,sans-serif;
    font-weight: 600;
}

.phone_btn {
    width: 180px;
}

.phone {
    color: var(--color-blue);
    text-align: center;
    font-size: 24px;
    font-family: oswald,sans-serif;
    font-weight: 600;
    margin-bottom: 15px;
}

.btn {
    padding: 10px 20px;
    width: 100%;

    font-size: 15px;
    background-color: var(--color-red);
    color: #FFF;
    border: none;
    transition: 0.5s;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--color-blue);
    transition: 0.5s;
}

.nav__inner {
    padding: 5px 0;
    font-family: raleway,sans-serif;
    background: var(--color-orange);
}

.nav__list {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav__list > li a {
    padding: 0 15px;
    font-size: 15px;
    text-decoration: none;
    color: #FFF;
}

.container {
    background: var(--color-cyan);
    padding: 80px 180px 80px 180px;
    font-family: var(--font-raleway);
}

.container__statistic {
    padding: 55px 180px 55px 180px;
}

.container__statistic img {
    opacity: 0.6;
}

.background {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.background__statistic {
    background-repeat: no-repeat !important;;
    background-size: cover !important;;
    background-position: center !important;
    background-attachment: fixed !important; 
}

.background__statistic > img{
    opacity: 0.6;
}

.hot__words {
    padding-top: 35px;
    font-family: Oswald, sans-serif;
    font-size: 42px;
    font-weight: 600;
    line-height: 1.5em;
    text-transform: uppercase;
}

.hot__words > p:nth-child(1) {
    color: var(--color-orange);
}

.hot__words > p:nth-child(2) {
    color: var(--color-brown);
}

.hot__words > p:nth-child(3) {
    color: var(--color-cream);
}

.got__slogan {
    width: 600px;
    margin-top: 10px;

    font-family: Raleway, sans-serif;
    font-size: 18px;
    color: #FFF;
}

.important__goals {
    display: flex;
    margin: 40px 0 0 0;
    padding: 0 0 40px 0;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    color: #FFF;
}

.goal {
    width: 280px;
    display: flex;
    align-items: center;
}

.svg__circle {
    width: fit-content;
    margin: 0 25px 0 0;
    border-radius: 50%;
    background: var(--color-orange);
}

.svg__circle > img {
    padding: 15px;
    width: 34px;
    height: 34px;
}

.btn__big {
    padding: 20px 50px;

    font-size: 14px;
    color: #FFF;
    background: var(--color-red);
    border: none;
    cursor: pointer;
}

.statistic {
    display: flex;
    justify-content: space-between;
}

.stat {
    font-family: var(--font-raleway);
    font-size: 21px;
    font-weight: 500;
    color: #FFF;
}

.stat__num {
    font-size: 62px;
    font-weight: 600;
}

.main__title {
    text-align: center;
    font-family: var(--font-oswald);
    color: var(--color-red);
}

.title {
    padding-bottom: 20px;
    font-size: 38px;
    font-weight: 600;
}

.underscore {
    margin: 0 auto 40px auto;
    height: 1.5px;
    width: 120px;
    background: var(--color-red);
}

.wrapper__inline {
    display: flex;
}

.card__items {
    display: flex;
    justify-content: space-between;
}

.img__description {
    width: 270px;
    height: 490px;
    background: var(--color-orange);
}

.card__img {
    width: 100%;
}

.img__description > p {
    width: 220px;
    margin: auto;
    padding: 10px;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    color: #FFF;
}

.title__company {
    color: var(--color-pink);
}

.water__words {
    margin-left: 50px;
    font-size: 18.5px;
    font-weight: 300;
    line-height: 1.3em;
}

.big__img__words {
    width: 785px;
    height: 600px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    color: #FFF;
    background: url(../src/img/card5.jpg);
    background-size: cover !important;
}

.big__img__titile {
    padding-left: 70px;

    font-family: var(--font-oswald);
    font-size: 30px;
    font-weight: 500;

}

.big__img__desc {
    padding-left: 70px;
    padding-bottom: 40px;

    font-size: 17.5px;
    font-weight: 300;
    line-height: 1.4em;
}

.small__img {
    width: 360px;
    height: 290px;

    background-size: cover !important;
}

.another__titile {
    padding-top: 50px;
    font-size: 40px;
    font-weight: 600;
    font-family: var(--font-oswald);
    text-align: center;
    color: #FFF;
}

.title__description {
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 19px;
    font-family: var(--font-raleway);
    font-weight: 300;
}

.icon__and__text {
    display: flex;
    margin-bottom: 25px;
}

.icon__wrap {
    padding-right: 20px;
}

.icon {
    scale: 2;
    color: var(--color-orange);
}

.icon__and__text:nth-last-child(1) {
    margin-bottom: 0px;
}


.text__title {
    font-size: 21px;
    font-weight: 500;
    color: var(--color-orange);
}

.text__desc {
    margin-top: 25px;
    font-weight: 300;
    color: #FFF;
}

.contact__form {
    display: flex;
    width: 330px;
    padding: 40px 35px;
    background-color: #FFF;
}

.form__title {
    padding-bottom: 20px;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
}

.title__and__input input:focus {
    border-bottom: 1px var(--color-ultra-blue) solid;
}

.input__title {
    font-weight: 500;
    padding-bottom: 20px;
}

.input__form {
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 12px;

    font-family: var(--font-raleway);
    font-weight: 200;
    font-size: 14px;
    border: none;
    outline: none;
    border-bottom: 1px var(--color-gray) solid;
}

.form__btn {
    margin-top: 20px;
    padding: 15px 0;
    width: 100%;

    color: #FFF;
    background-color: var(--color-red);

    font-weight: 500;
    font-size: 16.5px;

    border: none;
    cursor: pointer;
}

.form_ps {
    padding-top: 18px;

    color: var(--color-dark-gray);

    font-size: 12px;
    font-weight: 200;
}

.form_ps a {
    color: var(--color-red);
}

.another__sub__title {
    color: #000;

    font-family: var(--font-raleway);
    font-weight: 200;
    font-size: 20px;
}

.carousel__box {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;

    height: 600px;
    width: 1150px;
    display: grid;
    overflow: hidden;
}

@media (max-width: 1500px) {
    .carousel__box {
        width:720px;
        height: 600px;
    }
}

@media (max-width: 1200px) {
    .carousel__box {
        width:520px;
        height: 400px;
    }
}

@media (max-width: 900px) {
    .carousel__box {
        width:350px;
        height: 200px;
    }
}

.carousel__imgs {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    transition: 0.6s;
}

.carousel__img {
    height: 100%;
    width: 100%;

    background-position: center;
    background-size: cover;
}

.carousel__box__ui {
    height: 50px;
    width: 100px;
    display: flex;
    margin-right: 80px;
    align-items: center;

    justify-self: end;
    align-self: end;

    position: absolute;
}

.dots {
    padding-bottom: 10px;
    padding-right: 50px;
    display: flex;

    align-self: end;
}

.dot {
    height: 10px;
    width: 10px;

    margin: 0 2px;

    background-color: #000;
    border: 1px #FFF solid;
    border-radius: 50%;
    transition: 0.2s;
}

.active__dot {
    background-color: #FFF;
    border-color: #000;
    transition: 0.2s;
}

.movement{
    margin-right: 20px;
    display: flex;
}

.movement__arrow svg{
    color: #FFF;
}

.movement__arrow:hover svg{
    color: var(--color-gray);
}

.go__left {
    height: fit-content;
    width: fit-content;
    cursor: pointer;
}
.go__right {
    height: fit-content;
    width: fit-content;
    cursor: pointer;
}